body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
}

body,
.snake {
  background-color: #414141;
}

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}

#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #abb78a;
}

#score,
#highScore {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}

#highScore {
  color: #d8ddca;
  display: none;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

:host ::ng-deep .snake {
  background-color: #414141;
  border: #5a5a5a 1px dotted;
}

:host ::ng-deep .food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
}

.revive-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c4cfa3;
  border: #595f43 solid 10px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  color: #333;
}

.revive-modal h2 {
  color: #af1d1d;
  margin-top: 0;
}

.revive-modal .vocab-question {
  font-size: 1.5rem;
  margin: 15px 0;
}

.revive-modal input {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  padding: 5px;
  text-align: center;
  border: 2px solid #595f43;
  background-color: #d8ddca;
}

.revive-modal button {
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #595f43;
  color: #c4cfa3;
  border: none;
  cursor: pointer;
}

.revive-modal button:hover {
  background-color: #414141;
}
